<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <!-- Root logger -->
    <logger name="root">
        <level value="INFO" />
        <appender-ref ref="FileAppender" />
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <!-- File Appender -->
    <appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/application.log" />
        <param name="MaxFileSize" value="5MB" />
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <!-- Console Appender -->
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n" />
        </layout>
    </appender>

    <!-- Specific loggers -->
    <logger name="org.openqa">
        <level value="DEBUG" />
    </logger>

    <logger name="org.apache.http">
        <level value="ERROR" />
    </logger>

    <logger name="com.myapp">
        <level value="INFO" />
    </logger>

</log4j:configuration>
